#main {
    background-color: #ffffff;
    margin: 30px 0;
    font-family: sans-serif; 
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
  }
  #title {
    padding-top: 50px;
    font-size: 150;
    text-align: center;
  }
  #img-div {
    background-color: rgb(225, 199, 173);
    margin: 20px 10px;
    padding: 10px 5px;
  }
  
  img {
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
  }
  #tribute-info {
    width: 60%;
    margin: 0 auto;
  }
  @media (max-width: 750px) {
    #tribute-info {
      width: 90%;
    }
  }
  #tribute-info :not(h3) {
    text-align: left;
  }
  h3, ul {
    margin-bottom: 40px;
  }
  
  ul li {
    margin: 15px 0;
  }
  
  #disclaimer {
    margin-top: 30px;
    margin: auto;
    text-align: center;
  }
  ul li strong {
    font-weight: 600;
  }
  footer {
    padding: 5px;
    line-height: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #e8e2cf;
  }  
